// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table,
.new_product,
.edit_product {
  background-color: #66cb66;
}

thead>tr {
  height: 50px;
}

thead>tr>th {
  color: #fff;
  padding-left: 5px;
}
