// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead>tr {
  height: 50px;
}

thead>tr>th {
  padding-left: 5px;
  color: #fff;
}

.comment-container {
    margin-left: 14px;
}

.field {
  width: 420px;
}

.product-container {
  padding: 20px;
  width: 300px;
  background-color: #66cb66;
  border-radius: 5px;
}

.product-name {
  color: #fff;
}

.product-container>p {
  margin: 0;
}
