// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-bottom: 70px;
}

h1 {
  color: #0080ff;
  font-family: sans-serif;
  text-align: center;
}

.contact-container {
  max-width: 768px;
}

.navbar {
  background-color: #00A900;
}

.navbar-default
.navbar-nav>li>a {
  color: #fff;
}

.navbar-default
.navbar-brand {
  color: #fff;
}

.navbar-fixed-bottom {
  height: 60px;
  background-color: #f2f2f2;
}

.navbar-fixed-bottom
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.navbar-fixed-bottom
.container>p {
  margin: 20px 0;
}

.navbar-form {
  padding: 0 6px 0 0 !important;
}

.search {
  float: right;
}
