// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remember-me {
  display: inline-block;
}

.carousel img {
  width: auto;
  height: 640px;
  max-height: 645px;
  margin: 0 auto;
}

.carousel-indicators li {
  border: 1px solid #000;
  color: #6f6f6f;
}
